.konten__1 {
  display: flex;
}

.image_konten {
  margin-right: 4rem;
}

.image_konten img {
  width: 45rem;
  height: 45rem;
  left: 0%;
}

.desc__konten1 {
  margin-right: 2rem;
}

.judul__konten1 {
  font-size: 2.2rem;
  font-weight: 500;
  color: var(--primary-color);
}

.line {
  padding: 1rem;
  border-top: solid 2px var(--primary-color);
  align-items: start;
}
