.head__title {
  position: absolute;
  z-index: 1;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  justify-content: center;
  color: white;
}

.head__title h2 {
  margin-bottom: 2rem;
}
