.img__background {
  height: 100%;
  width: 100%;
  background-size: auto;
  background-position: center;
  z-index: 1;
}

.img__child img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Mengubah object-fit menjadi cover */
}

section {
  margin-top: 0;
  margin-bottom: 0;
}

.hero__content {
  padding-top: 0%;
}

.white__bg {
  background-color: #fff;
  padding: 1rem 2rem;
}

.slider__bg {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* ====== carousel card ======= */
.card-content {
  margin: 1rem;
}

.carousel-card {
  position: relative;
  width: 100%;
  height: 400px;
  gap: 1rem;
  margin: 0 10px;
}

.carousel-card img,
.carousel-card .card-content {
  margin: 10px;
}

.carousel-card img {
  width: 100%;
  height: 100%;
}

.carousel-container {
  background: #fff;
}

.slider__card {
  display: flex;
  gap: 1rem;
  padding: 2rem;
}

.pelayanan__title {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
