.fasilitas {
  text-align: center;
}

.line {
  padding: 2rem;
  margin-top: 2rem;
  margin-right: 45%;
  margin-left: 45%;
  border-top: solid 2px var(--primary-color);
}

/* ====== carousel card ======= */
.slider__card {
  padding-bottom: 2rem;
}

.carousel-card {
  margin-bottom: 12rem;
}

.card-content a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.8rem 2rem;
  background-color: var(--primary-color);
}
