.planning__tools {
  background-color: #f5f5f5;
}

.grid__container {
  display: flex;
  justify-content: space-between;
}

.desc__rapat {
  padding: 5rem;
}

.doc__1 {
  display: flex;
  cursor: pointer;
  padding-bottom: 1rem;
}

.doc__1:hover {
  color: var(--primary-color);
}
