.head__titles {
  position: absolute;
  z-index: 1;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  justify-content: center;
  color: white;
}

.head__titles h2 {
  margin-bottom: 3rem;
}

.head__titles h1 {
  font-size: 3rem;
}

.description {
  text-align: center;
  margin-top: 3rem;
  margin-right: 18rem;
  margin-left: 18rem;
}

.description p {
  line-height: 2;
  padding-bottom: 2rem;
}

.btn__meminta {
  margin-top: 1rem;
  text-decoration: none;
  color: white;
  padding: 1rem 2rem;
  background-color: var(--primary-color);
}

.btn__meminta:hover {
  background-color: #e67300;
}
