.container__grid {
  display: flex;
  margin: 0;
  gap: 1rem;
}

.img__grid img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.desc__grid {
  margin: auto;
  text-align: center;
  flex: 1;
}

.desc__grid .sub__head {
  font-weight: 500;
  color: #343434;
}

.desc__grid p {
  color: #636363;
  padding: 1rem;
  margin-right: 12rem;
  margin-left: 12rem;
  line-height: 2;
}

.desc__grid a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  padding: 0.8rem 2rem;
  background-color: var(--primary-color);
}

.penawaran {
  text-align: center;
  margin-top: 8rem;
  padding-top: 5rem;
  padding-bottom: 8rem;
  background-color: #efefef;
}

.penawaran h1 {
  color: var(--primary-color);
  margin-bottom: 5rem;
}

.penawaran p {
  margin-right: 12rem;
  margin-left: 12rem;
  line-height: 2;
}
