.grid__1 {
  display: flex;
  justify-content: space-between;
}

.img__content {
  margin-left: 3rem;
}

.img__content img {
  width: 46.2rem;
  height: 35rem;
  right: 0%;
}

.desc__1 {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--primary-color);
  margin-top: 5rem;
  margin-left: 11rem;
}

.desc__detail {
  margin-top: 0rem;
  margin-left: 11rem;
}

.line {
  padding: 1rem;
  margin-right: 55%;
  margin-left: 45%;
  border-top: solid 2px var(--primary-color);
}

.btn__jelajahi {
  text-decoration: none;
  cursor: pointer;
  padding: 0.8rem 2.5rem;
  background-color: var(--primary-color);
  color: #fff;
}

/* ====== grid 2 ======= */

.img__content2 {
  margin-right: 2rem;
}

.img__content2 img {
  width: 46.2rem;
  height: 35rem;
  left: 0%;
}

.desc__2 {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--primary-color);
  margin-top: 5rem;
  margin-right: 15rem;
}

.line2 {
  padding: 2rem;
  padding-bottom: 0%;
  margin-right: 45%;
  margin-left: 45%;
  margin-top: 0%;
  margin-top: 0%;
  border-top: solid 2px var(--primary-color);
}

.desc__detail2 {
  margin-top: 0%;
  margin-right: 2rem;
}
