/* footer {
  background-color: #f0f0f0;
  padding: 20px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
} */
/* style={{ backgroundColor: '#f0f0f0', padding: '20px', textAlign: 'center' }} */
